.navContainer{
    position: fixed;
    background-color: #242526;
    height: 40px;
    padding: 5px;
    top: 0px;
    width: 100%;
    z-index: 99;
    border-bottom: solid 1px #393A3B ;
}
.icon{
    font-size: 3rem;
    color: #0866FF;
}
.navbar{
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 10px;
    gap: 10px;
}
.search{
    background-color: #3A3B3C;
    height: 35px;  
    border-radius: 15px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search input{
    background-color: #3A3B3C;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: none;
    outline: none;
    color: white;
}
.icons{
  font-size: 1.5rem;
  margin: 0px 5px 0px 5px;
  color: #B0A88C;
}
.navMid{
    display: flex;
    justify-content: space-between;
    color: #535556;
    width: 35%;
    margin: 0px 50px 0px 200px;
    font-size: 1.8rem;
    
}
.navEnd{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 10px;
    color: #E7E9ED;;
    width: 28%;
    font-size: 1.6rem;
    gap: 30px;
}
.profile{
    width: 40px;
    height: 40px;
    background-color: red;
    border-radius: 50px;
}
.profile img{
    width: 100%;
    height: 100%;
    border-radius: 50px;
}