.uploadContainer{
    margin: 20px;
    display: flex;
    justify-content: center;
    width: 98%;
    height: fit-content;
    color: #A8ABAE;
    
}

.upload{
    text-align: center;
    padding: 10px;
    width: 650px;
    background-color: #242526;
    border-radius: 10px;
}

.description{
    display: flex;
    align-items: center;
    gap: 10px;
}

.description input{
    font-size: larger;
    width: 93%;
    height: 40px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    background-color: #4E4F50;
    color:white;
    outline: none;
}

.photoVideo{
    margin-top: 15px;
    font-size: 1.8rem;
    color: #58C472;
}

#media{
    display: none
}
.previewImage {
    max-width: 100px;
    height: 100px;
    margin-top: 10px;
  }
  