.form-container{
    position: relative;
    background-color: #F0F2F5;
    height: 100vh;
   
}
.logo{
    position: absolute;
    left: 180px;
    top: 200px;
    max-height: 300px;
    max-width: 500px;
    font-size: 30px;
}
.logo img{
    width:80%;
    height: 100px;
   
}
.logo img{
    margin-left: 10px;
}

.form{
    position: absolute;
    top: 150px;
    right: 250px;
    padding: 20px;
    width: 400px;
    height: fit-content;
    background-color: #FFFFFF;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}

.form input{
    margin:0px 0px 17px 0px;
    width: 400px;
    height: 50px;
    border: 2.5px solid #F2F3F4;
    background-color: #FFFFFF;
    border-radius: 8px;
    padding: 10px;
    font-size: large;
   

    
}
.form input:focus{
    outline: 1px solid #0866FF;
}

.error{
    position: absolute;
    color: red;
    font-size: 13px;
    right: 16px;
    margin: -15px;
}
.login{
color: white;
font-size: 25px;
 width: 400px;
 height: 45px;
 background-color: #1877F2;
 border: none;
 margin: 8px 0px 0px 0px;
 padding: 3px;
 border-radius: 5px;
}
.login:hover{
    cursor: pointer;
    background-color:#1876f2d8 ;
}

.forget{
    color: #0866FF;
    font-size: 15px;
    

}

.register{
    color: white;
    font-size: 20px;
    background-color: #36A420;
    border: none;
    border-radius: 5px;
    width: 230px;
    height: 50px;

}

.register:hover{
    cursor: pointer;
    background-color: #36a420d0;
}